
#ss-form {
  background-color: rgba(254,255,234, 0.90);
  padding: 25px 5px 0px 25px;
  color: black;
}
#ss-form form div {
  margin-bottom: 25px;
}
#ss-form form span {
  display: block;
}
#ss-form fieldset {
  border: 0;
  padding: 0;
}
#ss-form label, #ss-form legend {
  color: #666;
  font-family: Georgia,"Times New Roman",Times,serif;
}
#ss-form label .req, #ss-form legend .req {
  color: red;
  display: inline;
}
#ss-form input[type="submit"],
#ss-form input[type="button"] {
   margin: 0 auto;
   border-top: 1px solid #0f4eb4;
   background: #104e91;
   background: -webkit-gradient(linear, left top, left bottom, from(#104c91), to(#104e91));
   background: -webkit-linear-gradient(top, #104c91, #104e91);
   background: -moz-linear-gradient(top, #104c91, #104e91);
   background: -ms-linear-gradient(top, #104c91, #104e91);
   background: -o-linear-gradient(top, #104c91, #104e91);
   padding: 5px 10px;
   -webkit-border-radius: 6px;
   -moz-border-radius: 6px;
   border-radius: 6px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
}
#ss-form input[type="submit"]:hover,
#ss-form input[type="button"]:hover {
   border-top-color: #072c45;
   background: #072c45;
   color: #ccc;
}

#ss-form input[type="submit"]:disabled,
#ss-form input[type="button"]:disabled {
  background-color: #bbb;
}

#ss-form input[type="submit"]:active,
#ss-form input[type="button"]:active {
   border-top-color: #1b435e;
   background: #1b435e;
}

#ss-form input[type="submit"]:disabled:hover,
#ss-form input[type="button"]:disabled:hover {
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
#ss-form input[name="email"] {
  width: 95%;
  max-width: none;
}

/*
Interstitial spiel
*/
#interstitial-close {
  text-align: right;
  font-family: Georgia,"Times New Roman",Times,serif
  text-transform: uppercase;
}
#interstitial-close a {
  color: #ccc;
}
#interstitial-close a:hover, #interstitial-close a:active {
  color: white;
}
.interstitial-spiel {
  background-color: rgba(255,255,255, 0.85);
  background-repeat:no-repeat;
  background-position:center; 
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*.interstitial-spiel h1 {
  font: 2.8em 'Crimson', Georgia, serif;
  font-weight: normal;
  color: #feffea;
  margin: 0;
}
.interstitial-spiel p {
  font-size: 1.3em;
  margin: 0;
  color: #ccc;
}*/
#interstitial-subs {
  background-color: rgba(15,77,146, 0.85);
  /*background-color: #0f4d92;*/
  padding-left: 25px; padding-right: 25px;
  padding-top: 5px;
  padding-bottom: 10px;
  min-height: 0;
  color: white;
}
#interstitial-subs h1 {
  line-height: 15px;
}
/*
Required Message
*/

.required-message {
  visibility:hidden;
}

